@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  border-top: 1px solid $color-gray-border;
  // max-width 조정
  max-width: $layout-post-width * 1.2;
  padding-top: 20px;
  @include line-height(1);
  @include margin-top(1);
  @include margin-bottom(2);

  &__bio {
    &-twitter {
      display: block;
      text-decoration: underline;
    }
  }
}

@include breakpoint-sm {
  .author {
    margin-left: auto;
    margin-right: auto;
  }
}
