@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.content {
  max-width: $layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;

  &__title {
    font-size: $typographic-base-font-size * 2;
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    @include line-height(1.65);
    @include margin-top(1);
    @include margin-bottom(0);
  }

  &__body {
    & figure {
      @include margin-bottom(1);
      & p {
        max-width: $layout-post-width;
        font-size: $typographic-base-font-size * 1.6817;
        margin-top: 0;
        @include margin-bottom(1);
        @include line-height(1.5);
      }
    }

    // table 스타일 변경
    & table {
      font-size: 1rem;
      background: #fafafa;
      width: 100%;
      overflow: auto;
      border-collapse: collapse;
      border-spacing: 0;
    }
    @media screen and (max-width: 959px) {
      & table {
        table-layout: fixed;
        word-break: break-all;
      }
    }
    & table th,
    & table td {
      border: 1px solid #ccc;
      padding: 0.5em 1em;
      vertical-align: top;
    }
    & table th.empty,
    & table td.empty {
      background: white;
      border: none;
    }
    & table th.no,
    & table td.no {
      color: crimson;
    }
    & table th.yes span,
    & table td.yes span {
      background: #6ecd56;
      color: white;
      padding: 2px 5px;
    }
    & table th {
      background: #eee;
      font-weight: 700;
      font-size: 1.2rem;
    }
    & table th strong {
      display: block;
    }
    & table code {
      display: inline-block;
      margin-bottom: 5px;
      vertical-align: top;
    }
    & table pre {
      margin: 0;
      padding: 0;
    }
    & table pre:before {
      display: none;
    }
    // 테이블 스타일 변경 종료

    & a {
      text-decoration: none;
    }

    & * {
      max-width: $layout-post-width;
      margin-left: auto;
      margin-right: auto;
    }
    // blockquote 정렬을 위한 커스텀 수정
    & blockquote {
      margin-left: 5em;
    }

    & img {
      max-width: 100%;
    }
    & ul {
      list-style: disc;
      @include margin-bottom(1);

      & li {
        padding: 0 5px;
        margin-bottom: 9px;
        // list 내부 리스트의 수정
        & p {
          margin-bottom: 9px;
        }
        & ul {
          list-style: circle;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@include breakpoint-md {
  .content {
    padding: 0;

    &__title {
      font-size: $typographic-base-font-size * 2.3;
      @include line-height(2.25);
      @include margin-top(2.25);
      @include margin-bottom(1.5);
    }

    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(1.125);
      @include margin-bottom(1.125);

      & p {
        font-size: $typographic-base-font-size * 1.125;
        @include line-height(1.125);
        @include margin-bottom(1.125);
      }
      & ul {
        padding-left: auto;
      }
    }
  }
}

@include breakpoint-xs {
  .content {
    &__title {
      font-size: $typographic-base-font-size * 1.6;
    }

    & h2 {
      font-size: $typographic-base-font-size * 1.4;
    }

    & h3 {
      font-size: $typographic-base-font-size * 1.2;
    }
    & blockquote {
      margin-left: 0em;
    }

    & ul {
      padding-left: 1;
    }
  }
}
