@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.content {
  color: #252627;
  max-width: $layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;

  &__title {
    font-size: 2.15rem;
    font-family: Catamaran;
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    text-align: center;
    @include line-height(1.6);
    @include margin-top(1);
    @include margin-bottom(0.5);
  }

  &__body {
    & figure {
      @include margin-bottom(1);

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);

        & p {
          max-width: $layout-post-width;
          margin-top: 0;
          @include margin-bottom(0);
          @include line-height(1.5);
        }
      }
    }

    & h2 {
      // @include margin-bottom(0);
      line-height: $typographic-base-font-size * 2;
    }

    & h2:before {
      content: '#';
      padding-right: 0.3rem;
      font-size: 1.8rem;
      color: #f7a046;
    }

    & strong {
      padding: 0.05em 0.3em;
      margin: 0 0.1em;
      border-radius: 0.3em;
      white-space: normal;
      font-size: 0.875rem;
      // border: 1px solid #758493;
      background: #f6f2f0;
      color: #606e7c;
      line-height: 0rem;
    }

    & p {
      font-size: 1rem;
      line-height: $typographic-base-font-size * 1.7;
    }

    & * {
      max-width: $layout-post-width;
      margin-left: auto;
      margin-right: auto;
    }
    // blockquote 정렬을 위한 커스텀 수정
    & blockquote {
      padding-left: 0.7rem;

      & h2::before {
        display: none;
      }
      & ul {
        padding-inline-start: 1.8rem;
      }
    }

    & img {
      max-width: 100%;
      @include margin-top(0.5);
    }
    // 커스텀
    & ul {
      font-size: 1rem;

      & li {
        padding-left: 0rem;
        // list 내부 리스트의 수정
        & > p {
          padding: 0;
          margin-top: 0;
          margin-bottom: 0;
        }
        & ul {
          padding-left: 18px;
          list-style: circle;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (min-width: 411px) and (max-width: 689px) {
  .content {
    &__body {
      & ul {
        padding-left: 1.7rem;
      }
    }
  }
}

@media (min-width: 690px) and (max-width: 710px) {
  .content {
    &__body {
      & ul {
        padding-left: 1.8rem;
      }
    }
  }
}

// 모바일 화면
@include breakpoint-xs {
  .content {
    &__title {
      font-size: 2rem;
    }

    &__body {
      & blockquote {
        margin-left: 0;
        & ul {
          padding-left: 1.3rem;
        }
      }
      & ul {
        padding-left: 1.5rem;
      }
    }
  }
}
