@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
  &__date {
    font-size: $typographic-base-font-size * 1.1;
    margin: 0.5rem auto;
    font-style: normal;
    text-align: center;
  }
}
