@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.menu {
  @include margin-bottom(0.6);

  &__list {
    list-style: none;
    padding: 1rem;
    margin: 0;

    &-item {
      padding: 0;
      margin: 10px 0;

      &-link {
        font-size: $typographic-base-font-size;
        color: $typographic-base-font-color;
        font-weight: normal;
        border: 0;

        &:hover,
        &:focus {
          color: $color-secondary;
          border-bottom: 1px solid $color-secondary;
        }

        &--active {
          color: $color-secondary;
          border-bottom: 1px solid $color-secondary;
          font-size: $typographic-base-font-size * 1.4;
        }
      }
    }
  }
}
